<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <title>Contact Page</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #ebf0fd;
        padding-bottom: 100px;
    }

    #contact {
        width: 100%;
        height: 100%;
    }

    footer {
        background-color: #ebf0fd;
    }

    .section-header {
        text-align: center;
        margin: 0 auto;
        padding: 40px 0;
        font: 300 60px 'Oswald', sans-serif;
        color: #212f3d;
        text-transform: uppercase;
        letter-spacing: 6px;
    }

    .contact-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px;
        position: relative;
        max-width: 840px;
    }

    input {
        width: 150%;
        background-color: #f3f6fd;
        height: 80px;
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 10px 20px;
        border: 2px solid #212f3d;
        margin: 10px 0px 10px 0px;
    }

    textarea {
        width: 150%;
        background-color: #f3f6fd;
        height: 180px;
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 10px 20px;
        border: 2px solid #212f3d;
        margin: 10px 0px 10px 0px;
    }
    .form-horizontal {
        max-width: 400px;
        font-family: 'Lato';
        font-weight: 400;
    }

    .form-control,
    textarea {
        max-width: 400px;
        background-color: #ebf0fd;
        color: #212f3d;
        letter-spacing: 1px;
    }

    .send-button {
        margin-top: 15px;
        height: 34px;
        width: 400px;
        overflow: hidden;
        transition: all .2s ease-in-out;
    }

    .alt-send-button {
        width: 400px;
        height: 34px;
        transition: all .2s ease-in-out;
    }

    .send-text {
        display: block;
        margin-top: 10px;
        font: 700 12px 'Lato', sans-serif;
        letter-spacing: 2px;
    }

    .alt-send-button:hover {
        transform: translate3d(0px, -29px, 0px);
    }

    /* Begin Right Contact Page */
    .direct-contact-container {
        max-width: 400px;
    }

    /* Location, Phone, Email Section */
    .contact-list {
        list-style-type: none;
        margin-left: -30px;
        padding-right: 20px;
    }

    .list-item {
        line-height: 4;
        color: #212f3d;
    }

    .contact-text {
        font: 300 18px 'Lato', sans-serif;
        letter-spacing: 1.9px;
        color: #212f3d;
    }

    .place {
        margin-left: 62px;
    }

    .phone {
        margin-left: 56px;
    }

    .gmail {
        margin-left: 53px;
    }

    .contact-text a {
        color: #212f3d;
        text-decoration: none;
        transition-duration: 0.2s;
    }

    .contact-text a:hover {
        color: #212f3d;
        text-decoration: none;
    }


    /* Social Media Icons */
    .social-media-list {
        position: relative;
        font-size: 22px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .social-media-list li a {
        color: #212f3d;
    }

    .social-media-list li {
        position: relative;
        display: inline-block;
        height: 60px;
        width: 60px;
        margin: 10px 3px;
        line-height: 60px;
        border-radius: 50%;
        color: #212f3d;
        background-color: rgb(27, 27, 27);
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

    .social-media-list li:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        opacity: 0;
        box-shadow: 0 0 0 1px #fff;
        transition: all .2s ease-in-out;
    }

    .social-media-list li:hover {
        background-color: #212f3d;
    }

    .social-media-list li:hover:after {
        opacity: 1;
        transform: scale(1.12);
        transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
    }

    .social-media-list li:hover a {
        color: #000;
    }

    .copyright {
        font: 200 14px 'Oswald', sans-serif;
        color: #555;
        letter-spacing: 1px;
        text-align: center;
    }

    hr {
        border-color: rgba(255, 255, 255, .6);
    }

    /* Begin Media Queries*/
    @media screen and (max-width: 850px) {
        .contact-wrapper {
            display: flex;
            flex-direction: column;
        }

        .direct-contact-container,
        .form-horizontal {
            margin: 0 auto;
        }

        .direct-contact-container {
            margin-top: 60px;
            max-width: 300px;
        }

        .social-media-list li {
            height: 60px;
            width: 60px;
            line-height: 60px;
        }

        .social-media-list li:after {
            width: 60px;
            height: 60px;
            line-height: 60px;
        }
    }

    @media screen and (max-width: 569px) {

        .direct-contact-container,
        .form-wrapper {
            float: none;
            margin: 0 auto;
        }

        .form-control,
        textarea {

            margin: 0 auto;
        }


        .name,
        .email,
        textarea {
            width: 280px;
        }

        .direct-contact-container {
            margin-top: 60px;
            max-width: 280px;
        }

        .social-media-list {
            left: 0;
        }

        .social-media-list li {
            height: 55px;
            width: 55px;
            line-height: 55px;
            font-size: 2rem;
        }

        .social-media-list li:after {
            width: 55px;
            height: 55px;
            line-height: 55px;
        }

    }

    @media screen and (max-width: 410px) {
        .send-button {
            width: 99%;
        }
    }
</style>

<body>
    <%- include('../partials/navbar.ejs') %>
        <section id="contact">

            <h1 class="section-header">Contact</h1>

            <div class="contact-wrapper">

                <!-- Left contact page -->

                <form id="contact-form" class="form-horizontal" role="form">

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value=""
                                required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email"
                                value="" required>
                        </div>
                    </div>

                    <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" id="message" required></textarea>

                    <!-- <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                        <div class="alt-send-button">
                            <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                        </div>

                    </button> -->
                    <svg onclick="submit()" class="app-sidebar-link" style="border:none;cursor:pointer"xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                      </svg>
                </form>

                <!-- Left contact page -->

                <div class="direct-contact-container">

                    <ul class="contact-list">
                        <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">SVNIT,
                                    Surat</span></i></li>

                        <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                                        href="tel:1-212-555-5555" title="Give me a call">9978900829</a></span></i>
                        </li>

                        <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a
                                        href="mailto:#" title="Send me an email">devpatel8907@gmail.com</a></span></i></li>

                    </ul>
                    <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

                </div>

            </div>

        </section>
        <%- include('../partials/footer.ejs') %>
</body>
<script>
    async function submit(){
        let query=new Object();
        query.name=document.getElementById('name').value;
        query.message=document.getElementById('message').value;
        query.email=document.getElementById('email').value;
        const buffer=await fetch('/contact',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify(query)
        })
        const ans=await buffer.json();
        if(ans.status==='done')
        {
            alert('We will reach you Shortly!!!');
        }
        else{
            alert('Some Error  Occured');
        }
    }
</script>

</html>