<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" /> -->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <link rel="stylesheet" href="/css/navbar.css">
    <title>Login</title>
</head>
<body>
  <div class="mynavbar">
    <div class="mynavbar-left">
      <h1 style="margin-top: 30px"><a href="/" style="text-decoration: none;">DBCentre</a></h1>
    </div>
    <div class="mynavbar-right">
      <ul>
        <li><a href="/">Home</a></li>
    </div>
  </div>
    <div class="brand">
      </div>
      <div class="login">
        <div class="login_title">
          <span><h1 id="login-text">Login to your account</h1></span>
        </div>
        <img style="margin:20px 0px -80px 0px;"src="/images/icon.svg" width="50px" height="50px" alt="">
        <div class="login_fields">
          <div class="login_fields__user">
            <div class="icon">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png"/>
            </div>
            <input placeholder="Your Email ID" type="text" id="email">
              <div class="validation">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png"/>
              </div>
            </input>
          </div>
          <div class="login_fields__password">
            <div class="icon">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png"/>
            </div>
            <input placeholder="Password" type="password" id="password"></input>
            <div class="validation">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png"/>
            </div>
          </div>
          <div class="login_fields_submit">
          
            <div id="loginreplace">
              <svg onclick="login()" class="app-sidebar-link" style="border:none;cursor:pointer"xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
              </svg>
              
            </div>
            
            <a href="/signup"><h1 onmouseover="this.style.color='red'" onmouseleave="this.style.color='black'">Don't have an account? SignUp</h1></a>
          </div>
        </div>
      </div>
      <%- include ('../partials/footer.ejs') %>
</body>
<script src="/javascript/login.js"></script>
</html>