<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="/css/pay.css">
</head>

<body>
    <input type="text" name="" id="plan-display"  value="<%= plan %>" disabled>
    <input type="number" name="amount" id="amount" disabled>
    <button onclick="purchaseClicked()">Pay Now</button>
</body>
<script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
        let main=document.getElementById('plan-display').value;
        // document.getElementById('plan-display').innerHTML=main;
        let amount=document.getElementById('amount');
        if(main=='basic')
        {
            amount.value=499;
        }
        else{
            amount.value=999;
        }
        var stripePublicKey = 'pk_test_51JaufvSBmiqVOXqUlAPfOEaM11lKTM4fiY8NP0bWvutTsIHgCaGRCxTUhwryhIbTHZ78vHo0Oqecs2HImtKk9jJv00q6J2tDHT'
    </script>
    <script src="/javascript/pay.js" defer></script>
</html>