<div class="mynavbar" style="background-color:black;">
	<div class="mynavbar-left">
		<h1 style="margin-top: 30px"><a href="/" style="text-decoration: none; color: white;">DBCentre</a></h1>
	</div>
	<div class="mynavbar-right">
		<ul>
			<li><a href="/">Home</a></li>
			<!-- <li><a href="/login" id="logincredential">LogIn / SignUp</a></li> -->
		</ul>
	</div>
</div>