.range {
  position: relative;
  width: 550px;
  height: 5px;
}
.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}
.range input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}
.range input::-ms-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input:focus {
  background: none;
  outline: none;
}
.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-labels {
  margin: 18px -41px 0;
  padding: 0;
  list-style: none;
}
.range-labels li {
  position: relative;
  float: left;
  width: 90.25px;
  text-align: center;
  color: #b2b2b2;
  font-size: 14px;
  cursor: pointer;
}
.range-labels li::before {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 9px;
  height: 9px;
  background: #b2b2b2;
  border-radius: 50%;
}
.range-labels .active {
  color: #37adbf;
}
.range-labels .selected::before {
  background: #37adbf;
}
.range-labels .active.selected::before {
  display: none;
}
#set {
  width: 100%;
  margin: 60px 0px 60px 0px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
form {
  width: 100%;
  height: 500px;
  margin: auto;
  /* border:1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.st-input{
  width: 30%;
  background-color: #f3f6fd;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px 20px;
}
form #addiction {
  width: 50%;
  background-color: #f3f6fd;
  height: 80px;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px 20px;
}
form #time {
  width: 50%;
  background-color: #f3f6fd;
  height: 80px;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px 20px;
}
form .slider {
  width: 48%;
  height: 60px;
}
form .slider input {
  width: 100%;
  height: 40px;
  background-color: #f3f6fd;
}
form .app-sidebar-link:hover {
  background-color: var(--link-color-active-bg);
  color: var(--link-color-active);
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 200px;
  margin: 50px auto;
}

.multi-data-selector {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 4px 10px;
  cursor: text;
}

.multi-data-selector select {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.multi-data-selector .multiple-selector-data {
  width: 100%;
  min-height: 26px;
}

.multi-data-selector .multiple-selector-option {
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 2px 12px;
  margin: 0 6px 4px 0;
  font-size: 13px;
}

.multi-data-selector .multi-auto-suggested-data,
.multi-data-selector [list="multiSelectorAutoSuggest"] {
  display: inline;
}

.multi-data-selector [list] {
  border: 0;
  height: 30px;
}

.multi-data-selector [list]:focus {
  outline: none;
}

.multi-data-selector [list]::-webkit-calendar-picker-indicator {
  display: none;
}

.multi-data-selector input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.multi-data-selector input {
  background-color: transparent;
  /* padding: 0; */
}

.multi-data-selector .option-data-selected-remover {
  position: absolute;
  right: -4px;
  top: -4px;
  display: inline-block;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}

.multi-data-selector .option-data-selected-remover::before {
  content: "x";
  display: block;
  width: 100%;
  height: 100%;
  line-height: 12px;
  font-size: 11px;
}
form .multi-data-selector {
  width: 50%;
  background-color: #f3f6fd;
  height: 80px;
  font-size: 1.5rem;
  border-radius: 10px;
  /* padding: 10px 20px; */
  /* align-items: center; */
  /* margin-left: -290px; */
}


/*loder*/
.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}
.loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}
.loader:before {
  animation: before 2s infinite;
}
.loader:after {
  animation: after 2s infinite;
}
@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
 }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
 }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
 }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
 }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
 }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
 }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }
}
/** * Attempt to center the whole thing! */
/* html, body {
  height: 100%;
} */
.loader {
  position: absolute;
  top: calc(85% - 1.25em);
  left: calc(50% - 1.25em);
}
