.mynavbar {
    background-color: transparent;
}


@media screen and (max-width:500px) {
    .mynavbar-left{
        overflow: hidden;
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}