#plan-display{
    width: 50%;
    background-color: #f3f6fd;
    height: 80px;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 10px 20px;
}
#amount{
    width: 50%;
    background-color: #f3f6fd;
    height: 80px;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 10px 20px;
}